body{
    color: #FFFFFF;
}

.adminDashboardMenuItems{
    background-color: #303030;
    padding: 20px;
    border-radius: 10px;
    margin: 20px 50px 20px 50px;
    justify-content: center;
    height: auto;
    display: flex;
    cursor: pointer;
}

.adminDashboardMenuItemsLabel{
    margin: 0;
    text-align: center;
    font-size: 2.5em;
    align-self: center;
}

.adminDashboardMenuItemsIcons{
    align-self: center;
    margin-right: 15px;
}

.adminDashboardContent{
    justify-content: center;
    display: flex;
    width: 50%;
}

#adminDashboardContainer{
    display: flex;
    flex-direction: row;
}

#adminDashboardMenu{
    width: 50%;
}

/* Active section appears in pink */
.active{
    background-color:#E60096;
}

.adminDashboardContentItems.display{
    background-color: #303030;
    border-radius: 10px;
    justify-content: center;
    display: flex;
    height: auto;
    width: 100%;
    margin: 20px 50px 20px 50px;
    padding: 5em;
}

.adminDashboardMenuChat{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3em;
}

.adminDashboardContentItems{
    display: none;
}

.adminDashboardContentItemsTitle{
    margin-top: 0;
}

#welcomeMessage{
    background-color: #000000;
    padding-top: -4em;
}

.adminDashboardContentItems#welcomeMessage{
    padding: 0;
}

/** Formulaire */
input.form {
    display:flex;
    flex-direction: column;
    align-items: center;
    height: 3em;
    width: 100%;
    margin-top: 5px;
    margin-left: auto;
    margin-right:auto;
    margin-bottom: 5px;
    border-radius: 8px;
    box-shadow: none;
    outline: none;
    border: 1px solid #E60096;
      
}

.placeholder-haut {
    color : grey;
    background-color: white;
    font-size: 10px;
    position: relative;
    padding-left:5px;
    padding-right:5px;
    top: -70px;
    left: 30px;

}

hr#separation {
    width: 226px;
    margin-left: auto;
    margin-right: auto;
}

hr.separation2 {
    width: 226px;
    border: 0.2px solid grey;
    opacity: 0.5;
}

.titre {
    font-size: 22px;
    text-align: center;
}


.checkbox {
    font-size: 10px;
    color: black;
    margin-top: 10px;
    margin-bottom: 10px;
}

.submit {
    background-color: #E60096; 
    font-size: 18px;
    color: white;
    border:none;
    border-radius: 8px;
    height: 3em;
    width: 80%;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: grey 3px 3px 3px;
    cursor: pointer;
}

.condition {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/** Checkbox */
.checkbox-group {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

.checkbox-group-legend {
	font-size: 1.5rem;
	font-weight: 700;
	color: #9c9c9c;
	text-align: center;
	margin-bottom: 1.25rem;
}

.checkbox-input {
    display: none;
    &:checked + .checkbox-tile {
		background-color: #E60096;
	}
}

fieldset {
    border: none;
}   


.checkbox-tile {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 13rem;
	height: 8rem;
	border-radius: 0.5rem;
	background-color: #585956;
	transition: 0.15s ease;
	cursor: pointer;
	position: relative;
    margin: 0.5rem;

	&:hover {
        scale: 1.03;
	}
}
.checkbox-label {
	color: #F4F1E9;
    font-size: 1.4rem;
	transition: .375s ease;
	text-align: center;
}

.formLabel {
    font-size: 1.5em;
    margin-bottom: 0.5em;
}