@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');



@media (min-width: 769px){
    .container-video {
        width: 50% !important;
    }

}

.FontInter {  
    font-family: 'Inter', sans-serif;
    color: white;
}

.FontMonserrat {
    font-family: 'Montserrat', sans-serif;
    color: white;
}

.container-video {
    font-family: 'Inter', sans-serif;
    color: black;
    background-color: white;
    width: 80%;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    padding-top:10px;
}

h1.titre {
    font-size: 22px;
    text-align: center;

}

#frame {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

iframe {
    width: 390px;
    height: 220px;
    border: none;
}

.titre2 {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    margin: 10px;
    height: min-content;
}

.programme {
    background-color: #303030;
    width: 360px;
    border-radius: 8px;
    padding-top:15px;
}

.titre-programme {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    text-align: center;
}

span.red {
    color: red;
}

span.white {
    color: white;
}

h1.nom-emission {
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    text-align: center;
    color:white;
}

p.p1 {
    font-family:'Montserrat', sans-serif;
    font-size: 12px;
    color: white;
    text-align: center;
}

#accesChat {
    font-family: 'Montserrat', sans-serif;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 18px;
    text-align: center;
    color: white;
    background-color: #E60096;
    border:none;
    border-radius: 8px;
    width: 360px;
    height: 60px;
}

.hidden {
    display: none;
}



.blanc {
    color: white;
}

.container-chat
{
    background-color: #303030;
    width: 100%;
    border-radius: 8px;
}

.container-message {
    margin: 20px;
}

.chatTest {
    width: 80%;
}

.container-chat hr {
    border-color: white;
    width: 100%;
    margin-bottom: 10px;
    margin-top: 10px;
}

.titre-chat {
    font-family: 'Inter', sans-serif;
    font-size: 22px;
    text-align: left;
    color: white;
}   

.info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

  .titre-chat {
    margin-top: 20px;
    margin-bottom: 0px;
  }

  .X {
    margin-top: 25px;
  }

.viewer {
    display: flex;
    flex-direction: row;
    position: top;
    font-family: 'Inter', sans-serif;
    text-align: left;
    color: white;
}

.viewer p {
    top: 20px;
    font-size: 14px;
}

.boxMessage {
    display: flex;
    flex-direction: column;
    margin-top: 0px;
    margin-bottom: 0em;
}

.hrTop {
    border-color: orange;
    /* centrer le hr */
}

.hrBottom{
    border-color: red;
    /* centrer le hr */
}

.message {
    display:flex;
    flex-direction: row;
}

.message p {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color:white;
    margin-bottom: 10px;
}

p.pseudo {
    /*texte sur une ligne */
    white-space: nowrap;
    font-family: 'Montserrat', sans-serif;
    color : #E60096;
    margin-right: 10px;
}

.input-message {
    border:none;
    font-size: 18px;
    border-radius: 8px;
    width: 355px;
    height: 57px;
    margin-left: 0;
    margin-right: 0;
}

.bouton-chat {
    font-family: 'Montserrat', sans-serif;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 18px;
    text-align: center;
    color: white;
    background-color: #E60096;
    border:none;
    border-radius: 8px;
    width: 20em;
    height: 60px;
}

p.nomUtil {
    font-size: 20px;
    color: white;   
}

.nomDeUtilisateur {
    display: flex;
    align-items: center;
    margin-bottom: 0;
    gap: 1em;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: white;
}

.svgg,
.nomutilchat {
    flex: 0 0 auto;
}

input[type="text"]::placeholder {
    text-align: left;
    text-indent: 10px; /* Décalage vers la droite */
}

.connexion {
    text-align: center;
    margin-top: 10px;
}

.texteDeConnexion {
    font-size: 18px;
    text-align: center;
    color: white;
}

.submit {
    background-color: #E60096; 
    font-size: 18px;
    color: white;
    border:none;
    border-radius: 8px;
    height: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
}       

#direct-live  {
    width: 100%;
}
