@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.FontInter {  
    font-family: 'Inter', sans-serif;
    color: white;
}

.FontMonserrat {
    font-family: 'Montserrat', sans-serif;
    color: white;
}

.container-video {
    font-family: 'Inter', sans-serif;
    color: black;
    background-color: white;
    width: 390px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    padding-top:10px;
}

h1.titre {
    font-size: 22px;
    text-align: center;

}

#frame {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

iframe {
    width: 390px;
    height: 220px;
    border: none;
}

.titre2 {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    margin: 10px;
    height: min-content;
}

.programme {
    background-color: #303030;
    width: 360px;
    border-radius: 8px;
    padding-top:15px;
}

.titre-programme {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    text-align: center;
}

span.red {
    color: red;
}

span.white {
    color: white;
}

h1.nom-emission {
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    text-align: center;
    color:white;
}

p.p1 {
    font-family:'Montserrat', sans-serif;
    font-size: 12px;
    color: white;
    text-align: center;
}

#accesChat {
    font-family: 'Montserrat', sans-serif;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 18px;
    text-align: center;
    color: white;
    background-color: #E60096;
    border:none;
    border-radius: 8px;
    width: 360px;
    height: 60px;
}

.hidden {
    display: none;
}



.blanc {
    color: white;
}

.container-chat
{
    background-color: #303030;
    width: 360px;
    margin: 15px;
    padding-top: 10px;
    padding-left: 20px;
    border-radius: 8px;
    padding-bottom: 20px;
}

.titre-chat {
    font-family: 'Inter', sans-serif;
    font-size: 22px;
    text-align: left;
    color: white;
}

.viewer {
    display: flex;
    flex-direction: row;
    position: top;
    font-family: 'Inter', sans-serif;
    text-align: left;
    color: white;
}

.viewer p {
    top: 20px;
    font-size: 14px;
}

hr {
    color: white;
    /* centrer le hr */
    margin-left: auto;
    margin-right: auto;
}

.message {
    display:flex;
    flex-direction: row;

}

.message p {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color:white;
}

p.pseudo {
    /*texte sur une ligne */
    white-space: nowrap;
    font-family: 'Montserrat', sans-serif;
    color : #E60096;
    margin-right: 10px;
}

.input-message {
    border:none;
    border-radius: 8px;
    height: 57px;
    width: 340px;
    margin-left: auto;
    margin-right: auto;
}

.bouton-chat {
    font-family: 'Montserrat', sans-serif;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 18px;
    text-align: center;
    color: white;
    background-color: #E60096;
    border:none;
    border-radius: 8px;
    width: 340px;
    height: 60px;
}