/*-------- HomePage --------*/
@media screen and (min-width: 64em) {
.actualiteContainer {
  display:flex !important;
  flex-direction: row !important;
}
.articleContainer {
  display: flex !important;
  flex-direction: column !important;
  justify-content: center!important;
  align-items: center!important;
  margin: 10px!important;
  width: 50% !important;

}

.titreInfo {
  text-align: center!important;
  height: min-content !important;
}



}


.actualiteContainer img,
.videoContainer img {
  max-width: 500px;
  max-height: 100%;

}


p {
  font-size: 2em;
}


  .actualiteContainer,
  .videoContainer {
    flex-direction: column;
    justify-content: center;
  }

  .actualiteContainer img,
  .videoContainer img {
    max-width: 100%;
  }

  .videoContainer img {
    display: inline-block;
    height: 100%;
    vertical-align: top;
  }


.actualiteContainer {
  display: flex;
  position: relative;
}

.videoContainer {
  position: relative;
  white-space: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

h1 {
  text-align: center;
}

.texteInfo {
  text-align: justify;
  margin: 10px;
}

p.texteInfo {
  font-family: 'Montserrat', sans-serif;
  color: white;
}

.titreInfo {
  font-family: 'Inter', sans-serif;
  color: white;
  font-size: 2rem;
  margin: 10px;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

button{
  width: 211px;
  padding: 12px 25px;
border-radius: 50px;
font-family: 'Montserrat';
font-weight: 3000;
font-size: 18px;
border-radius: 50px;

}

button a {
  color: #E60096;
  text-decoration: none;
  font-weight: bold;
}
.square-container {
  width: 359px;
  margin-top: 35px;
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
}

.square {
  width: 45%;
  position: relative;
  border-radius: 8px;
  overflow: hidden;
}

.square-image {
  width: 100%;
  height: 70%;
  object-fit: cover;
}

.gray-bar {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30%;
  background-color: #303030;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text {
  color: #fff;
  font-size: 14px;
}

.square .gray-bar img {
  height: 40%;
  margin-right: 10px;
}

.articleContainer {
  margin-bottom: 20px;
}